body {
    font-family: sans-serif;
  }
  
  #appContainer {
    display: flex;
    flex-direction: row;
    height: 500px;
  }
  
  #inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  #operationContainer {
    width: 200px; 
  }
  
  #pixelContainer {
    display: grid;
    margin-left: 100px;
    gap: 10px;
  }
  
  #inputRow,
  #inputColumn {
    width: 30px;
  }
  
  .pixel {
    background-color: #555;
  }
  